@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin:0;
    font-family: 'Poppins';

    a {
        text-decoration: none;
        
    }
}

body {
    background: #EEEEEE;
    overflow: hidden;
}

.watermark, .watermark-2 {
    &:hover {
        cursor: default;
        
    }
}

.watermark {
    font-size: 600px;
    font-weight: 600;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    margin-top: -220px;
    opacity: 0.35;
    z-index: -1;
}

.watermark-2 {
    font-size: 600px;
    font-weight: 600;
    position: absolute;
    color: white;
    width: max-content;
    bottom: 0;
    margin-left: -180px;
    margin-bottom: -200px;
    opacity: 0.20;
    z-index: -1;
    
}

.black-design {
    background: black;
    
    width: 43em;
    height: 100%;
    position: absolute;
    right: 0;
    
    
    margin-top: 0;
    margin-right: -100px;
    transition: 1s ease-out 1ms;
    
     
    
}





.hero-container {
    padding: 8em;
    margin-top: 1em;

    .ver-mas {
        display: block;
        text-align: center;
        background-color: #EEEEEE;
        color: black;
        border: 2px solid black;
        width: 10em;
        border-radius: 5em;
        
        padding: 0.7em;
        margin-top: 3em;
        
        font-size: 18px;

            &:hover{
                background-color: black;
                color: white;
                
               
            }

    }
   
}

.hero-section {

    h1 {
        font-size: 80px;
        width:12em
            
           

    }

    h2 {
        color: grey;
        font-size: 30px;
        font-weight: 600;
    }
    
    
}





.nav-container {
    display: flex;
    justify-content: end;
    margin-right: -50px;
        &:hover {
            .black-design {
                transition: 1s ease-out 100ms;
                transform: translateY(200px);
                
         
             }
            }
        }
    
        


.nav-bar {
    padding: 3em;
   
    width: 30vw;
    display: flex;
    justify-content: space-around;
        
   
    
    a {
        z-index: 50;
        color: white;
        font-size: 25px;
        font-weight: 600;
         &:hover {
             text-decoration: underline 5px;
             
             
         }
            
    }
}

.black-line {
    margin: auto 38em auto auto;
    width: 500px;
    background: black;
    height: 11px;
    border-radius: 5em;
    transition: 1s ease-out 100ms;
        &:hover {
            cursor: pointer;
            width: 1000px;
        }

        
    
}

.fake-cont {
    display: flex;
    justify-content: center;
    margin-top: 10em;
}


@media only screen and (max-width:1700px){

    .hero-container {
        h2 {
            font-size: 20px;
        }

        h1 {
            font-size: 55px;
        }

        .watermark{
            font-size: 400px;

        }
        .watermark-2{
            font-size: 400px;
        }

        .ver-mas {
            display: block;
            text-align: center;
            background-color: #EEEEEE;
            color: black;
            border: 2px solid black;
            width: 8em;
            border-radius: 5em;
            
            padding: 0.5em;
            margin-top: 1.5em;
            
            font-size: 18px;
    
                &:hover{
                    background-color: black;
                    color: white;
                    
                   
                }
    
        }


        
    }

    .black-design {
        
        
        width: 36em;
        
    }

    .black-line{
        display: none;
    }

    .nav-bar {
        padding: 3em;
       
        width: 30vw;
        display: flex;
        justify-content: space-around;
            
       
        
        a {
            z-index: 50;
            color: white;
            font-size: 20px;
            font-weight: 600;
             &:hover {
                 text-decoration: underline 5px;
                 
                 
             }
                
        }
    }

}
