@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}
* a {
  text-decoration: none;
}

body {
  background: #EEEEEE;
  overflow-x: hidden;
}

.watermark:hover, .watermark-2:hover {
  cursor: default;
}

.watermark {
  font-size: 600px;
  font-weight: 600;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  margin-top: -220px;
  opacity: 0.35;
  z-index: -1;
}

.watermark-2 {
  font-size: 600px;
  font-weight: 600;
  position: absolute;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: 0;
  margin-left: -180px;
  margin-bottom: -200px;
  opacity: 0.2;
  z-index: -1;
}

.black-design {
  background: black;
  width: 43em;
  height: 100%;
  position: absolute;
  right: 0;
  margin-top: 0;
  margin-right: -100px;
}

.otra {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.otra .react-cont {
  margin-top: 10em;
  margin-left: 5em;
  display: flex;
  justify-content: center;
}
.otra .react-label {
  margin-right: 1em;
  color: #00d8ff;
  align-self: center;
  justify-self: flex-end;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
  transition: 0.5s;
  font-size: 100px;
}
.otra .react-label:hover {
  cursor: pointer;
}
.otra .css-cont {
  margin-left: 14em;
  margin-top: 10em;
  display: flex;
  justify-content: center;
}
.otra .css-label {
  margin-right: 1em;
  color: #347dc6;
  align-self: center;
  justify-self: flex-end;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
  transition: 0.5s;
  font-size: 100px;
}
.otra .css-label:hover {
  cursor: pointer;
}
.otra .html-cont {
  margin-left: 9em;
  margin-top: 10em;
  display: flex;
  justify-content: center;
}
.otra .html-label {
  margin-right: 1em;
  color: #ff6c39;
  align-self: center;
  justify-self: flex-end;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
  transition: 0.5s;
  font-size: 100px;
}
.otra .html-label:hover {
  cursor: pointer;
}
.otra img {
  width: 250px;
  transition-duration: 1s;
}
.otra img:hover {
  cursor: pointer;
  width: 300px;
}
.otra H1 {
  font-size: 150px;
  margin-left: 1em;
}

.hero-container {
  padding: 8em;
  margin-top: 1em;
}
.hero-container .ver-mas {
  display: block;
  text-align: center;
  background-color: #EEEEEE;
  color: black;
  border: 2px solid black;
  width: 10em;
  border-radius: 5em;
  padding: 0.7em;
  margin-top: 2em;
  font-size: 18px;
}
.hero-container .ver-mas:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}

.hero-section {
  height: 100vh;
}
.hero-section h1 {
  font-size: 75px;
  width: 12em;
}
.hero-section h2 {
  color: grey;
  font-size: 25px;
  font-weight: 600;
  margin-left: em;
}
.hero-section img {
  display: none;
  width: 100px;
  margin-left: 23vw;
  margin-bottom: -20em;
}

.nav-container {
  display: flex;
  justify-content: end;
  margin-right: -50px;
}

.nav-bar {
  padding: 3em;
  width: 30vw;
  display: flex;
  justify-content: space-around;
}
.nav-bar a {
  z-index: 50;
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.nav-bar a:hover {
  -webkit-text-decoration: underline 5px;
          text-decoration: underline 5px;
}

.black-line {
  display: none;
  margin: 3em 38em auto auto;
  width: 500px;
  background: black;
  height: 11px;
  border-radius: 5em;
  transition: 1s ease-out 100ms;
}
.black-line:hover {
  cursor: pointer;
  width: 1000px;
}

.fake-cont {
  display: flex;
  justify-content: center;
  margin-top: 10em;
}

@media only screen and (max-width: 1700px) {
  .hero-container h2 {
    font-size: 20px;
  }
  .hero-container h1 {
    font-size: 55px;
  }
  .hero-container .watermark {
    font-size: 400px;
  }
  .hero-container .watermark-2 {
    font-size: 400px;
  }
  .hero-container .ver-mas {
    display: block;
    text-align: center;
    background-color: #EEEEEE;
    color: black;
    border: 2px solid black;
    width: 8em;
    border-radius: 5em;
    padding: 0.5em;
    margin-top: 1.5em;
    font-size: 18px;
  }
  .hero-container .ver-mas:hover {
    background-color: black;
    color: white;
  }
  .black-design {
    width: 36em;
  }
  .black-line {
    display: none;
  }
  .nav-bar {
    padding: 3em;
    width: 30vw;
    display: flex;
    justify-content: space-around;
  }
  .nav-bar a {
    z-index: 50;
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
  .nav-bar a:hover {
    -webkit-text-decoration: underline 5px;
            text-decoration: underline 5px;
  }
}/*# sourceMappingURL=main.css.map */